@import "addons.scss";
@import "mytheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.mytheme {
  @include addons;

  // Include mytheme theme styles in your theme
  @include mytheme;

  .v-tree-checkbox .v-tree-node-caption-unchecked div span {
    background: url("img/checkbox-unchecked.png") no-repeat;
    padding-left: 24px;
  }

  .v-tree-checkbox .v-tree-node-caption-checked div span {
    background: url("img/checkbox-checked.png") no-repeat;
    padding-left: 24px;
  }

  .v-tree-node-caption:hover {
    background-color: lightgray ;
    font-weight: bold;
  }

  .buttons .v-button-caption, .v-upload .v-button .v-button-caption, .v-tabsheet .v-button .v-button-caption {
    font-weight: bold;
  }

  .buttons:hover span span, .v-upload .v-button:hover span span, .v-tabsheet .v-button:hover span span {
    color: darkblue;
  }

  .v-tree-checkbox .v-tree-node-caption-checked {
    background-color: #287ece;
    color: white;
  }

  .emptyField {
    background-color: pink;
  }

  .submit, .retrievalButtons {
    margin-top: 15px;
  }

  .mainContent {
    max-width: 1000px;
  }

  .heading {
    font-weight: bold;
    font-size: 16px;
    //text-decoration: underline;
    margin-bottom: 15px;
  }

  .panel {
    //margin: 2px;
    margin-left: 100px;
    margin-top: 23px;
    border: 2px;
    background-color: none;
  }

  //.grid.v-margin-left   {padding-left:   20px;}
  .mymargins.v-margin-right  {padding-right:  20px;}
  .mymargins.v-margin-top    {padding-top:    40px;}
  .mymargins.v-margin-bottom {padding-bottom: 80px;}
  .grid {
    //margin: 10px;
  }

  .instructions {
    //margin-bottom: 50px;
  }

  div.v-verticallayout.v-layout.v-vertical.v-widget.v-has-width > div > div > div > div > div:nth-child(2) > div > div.v-slot.v-slot-panel {
    margin-top: 25px;
  }

  .retrievalContent {
    margin-top: 100px;
  }

  .menuBar .v-menubar-menuitem-highlight {
    background: #7ACAFF; /* Dark blue */
    font-weight: bold;
  }

}