@import "addons.scss";
@import "mytheme.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in mytheme.scss */
.mytheme {
  @include addons;

  // Include mytheme theme styles in your theme
  @include mytheme;


  .buttons .v-button-caption, .v-upload .v-button .v-button-caption, .v-tabsheet .v-button .v-button-caption {
    font-weight: bold;
  }

  .buttons:hover span span, .v-upload .v-button:hover span span, .v-tabsheet .v-button:hover span span {
    color: darkblue;
  }

  .emptyField {
    background-color: pink;
  }

  .submit {
    margin-top: 15px;
  }

  .mainContent {
    max-width: 1000px;
  }

  .heading {
    font-weight: bold;
    font-size: 16px;
    //text-decoration: underline;
    margin-bottom: 10px;
  }

  .panel {
    //margin: 2px;
    margin-left: 100px;
    margin-top: 23px;
    border: 2px;
    background-color: none;
  }

  div.v-verticallayout.v-layout.v-vertical.v-widget.v-has-width > div > div > div > div > div:nth-child(2) > div > div.v-slot.v-slot-panel {
    margin-top: 25px;
  }

  .menuBar .v-menubar-menuitem-highlight {
    background: #7ACAFF;
    font-weight: bold;
  }

  .studentNum {
    margin-top: 15px;
  }

  .v-table-footer  {
    font-weight: bold;
  }

  .studentInfo {
    margin-bottom: 20px;
  }

  .v-horizontallayout img {
    border: 2px solid #7ACAFF;
    border-radius: 15px;
  }

  .v-horizontallayout img:hover {
    border: 2px solid grey;
  }
}